---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";

export const getStaticPaths = async () => {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.slug },
        props: { project },
    }));
};

const { project } = Astro.props;
const { data } = project;
const { title, img } = data;

const { Content } = await render(project);
---

<Layout title={title}>
    <div class="p-6 lg:p-16 bg-mirage-100 flex justify-center">
        <main class="w-full h-full max-w-[800px]">
            <div
                class="w-full h-[150px] lg:h-[300px] rounded-xl shadow-lg overflow-hidden"
            >
                {
                    img != null ? (
                        <img
                            class="w-full h-full object-cover"
                            src={img}
                            alt=""
                        />
                    ) : (
                        <div class="gradiant-box" />
                    )
                }
            </div>
            <br />
            <h1>{title}</h1>
            <br />
            <Prose>
                <Content />
            </Prose>
        </main>
    </div>
</Layout>

<style>
    h1 {
        font-size: 4rem;
        font-weight: bold;
        color: #363347;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.5;
        color: var(--mirage-900);
    }

    h3 {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: bold;
        color: #363347;
    }

    ul {
        list-style-type: disc;
        padding-left: 2rem;
    }

    @media screen and (max-width: 1280px) {
        h1 {
            text-align: center;
            font-size: 3.5rem;
            line-height: 1.2;
        }

        h3 {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 640px) {
        h1 {
            font-size: 3rem;
        }
    }
</style>
