<section class="w-full min-h-screen bg-mirage-50 p-16 text-[20px] flex justify-between items-center top-0">
<div class="w-[60%] px-16 ">
<h1>About Me</h1>
<br>
<p>
I am a full stack web developer with 3 years of experience in the field. I have contributed to notable projects, including the LA n Sync App for the civic initiative in California, CalHome App, aimed at managing citizen loan service requests for the state of California, USA. Additionally, I played a key role in developing La Puente Pet App Registration in California, USA.
<br><br>
My proficiency extends to core web technologies such as HTML, CSS, Javascript, Typescript and Node JS with a specialization in the MERN Stack. Beyond coding, I have worked as a UX & UI Designer, creating prototypes in Figma for the applications mentioned before.
<br><br>
I get excited about opportunities where I get to turn complex designs and functionalities into web applications, ensuring a seamless and satisfying user experience.
</p>
<br><br>

<h1>Working Experience</h1>

</div>

<div class="w-[40%] bg-mirage-300 h-screen sticky top-0 right-0 flex justify-center items-center self-start ">
<div class="w-[150px] h-[150px] bg-mirage-500 rounded-full"></div>

</div>
</section>

<style>
h1 {
    font-size: 4.5rem;
    font-weight: bold;
    color: --var(mirage-950);
}
</style>
