---
import WorkingExperience from "./WorkingExperience.astro";
---

<section
    id="about"
    class="w-full min-h-screen bg-mirage-50 p-6 py-20 lg:p-16 text-[20px] flex flex-col xl:flex-row justify-start xl:justify-between items-center top-0"
>
    <!-- Right -->
    <div class="w-full order-2 xl::order-1 xl:w-[60%] xl:px-16">
        <h1>About Me</h1>
        <br />
        <p>
            I am a full stack web developer with 3 years of experience in the
            field. I have contributed to notable projects, including the LA n
            Sync App for the civic initiative in California, CalHome App, aimed
            at managing citizen loan service requests for the state of
            California, USA. Additionally, I played a key role in developing La
            Puente Pet App Registration in California, USA.
            <br /><br />
            My proficiency extends to core web technologies such as HTML, CSS, Javascript,
            Typescript and Node JS with a specialization in the MERN Stack. Beyond
            coding, I have worked as a UX & UI Designer, creating prototypes in Figma
            for the applications mentioned before.
            <br /><br />
            I get excited about opportunities where I get to turn complex designs
            and functionalities into web applications, ensuring a seamless and satisfying
            user experience.
        </p>
        <br /><br />

        <WorkingExperience />
    </div>

    <!-- Left -->
    <div
        class="w-full xl:w-[40%] order-1 xl:order-2 xl:h-screen xl:sticky top-0 right-0 flex justify-center items-center self-start mb-12 xl:mb-0"
    >
        <div class="flex flex-col gap-7 justify-center items-center">
            <div
                class="w-[180px] h-[180px] sm:w-[250px] sm:h-[250px] lg:w-[350px] lg:h-[350px] rounded-full overflow-hidden"
            >
                <img class="w-full h-full object-cover" src="/me.jpg" alt="" />
            </div>
            <h2 class="text-3xl hidden xl:block text-mirage-700">
                Crafting user experiences, <br /> one pixel at a time.
            </h2>
        </div>
    </div>
</section>

<style>
    h1 {
        font-size: 4.5rem;
        font-weight: bold;
        color: #363347;
    }

    @media screen and (max-width: 1280px) {
        h1 {
            text-align: center;
            font-size: 3.5rem;
        }
    }

    @media screen and (max-width: 640px) {
        h1 {
            font-size: 3rem;
        }
    }
</style>
