---
import ProjectCard from "./ProjectCard.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section
    id="projects"
    class="main w-full min-h-screen bg-mirage-800 flex justify-center items-center px-2 py-16 sm:p-12 lg:p-16"
>
    <div class="flex flex-col lg:flex-row gap-12 lg:gap-3 overflow-x-hidden">
        <div
            class="w-auto lg:w-[300px] lg:h-[600px] flex justify-center items-center"
        >
            <h1 class="lg:-rotate-90">Projects</h1>
        </div>

        <!-- Gallery -->
        <div class="flex w-full overflow-x-scroll">
            {
                projects.map((project) => {
                    const { data, slug } = project;
                    const { title, description, img } = data;
                    return (
                        <ProjectCard
                            slug={slug}
                            title={title}
                            description={description}
                            img={img}
                        />
                    );
                })
            }
        </div>
    </div>
</section>

<style>
    h1 {
        font-size: 5rem;
        font-weight: bold;
        color: var(--mirage-50);
    }
</style>
