<section class="main w-full min-h-screen bg-mirage-800 flex justify-center items-center">
<!-- Gallery -->
<div class="flex w-full overflow-x-auto snap-x snap-mandatory wrapper snaps-inline">
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
  <div class="flex-shrink-0 w-96 h-96 bg-mirage-700 m-2 rounded-lg snap-center"></div>
</div>
</section>

<style>

main {
      overscroll-behavior-inline: contain;
}

.wrapper {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

</style>
